---
layout: page
title: Funding
permalink: /funding/
weight: 1.5
show: 1
---

We gratefully acknowledge the funding agencies that support our research.

{% for group in site.data.funding %}
<div class ="row" style="margin-top=20px">
<div class="col-md-7" >
<h2>{{group.group}}</h2>
</div>
</div>
<div class ="row">
{% for member in group.award %}

<div class="col-md-4"><div class="profile height250"><div><a href="{{member.url}}">
<center>
    <img class='profile-image' height="80" align="middle" src="{% if member.logo %}../img/{{member.logo}} {% endif %}"></center></a></div>
<div style="margin-bottom:200px; text-align:left;"><center><h4>{{member.title}}</h4></center> 
    <center>{% if member.role %} {{member.role}} {% endif %} <br> {{member.period}}<center></div> </div></div>

{% endfor %}
</div>
{% endfor %}
