---
layout: page
title: Chang's Group at UCLA NLP
permalink: /members/
weight: 1.5
show: 1
---

<div class="floatleft">
{% for group in site.data.members %}
<div class ="row" style="margin-top=20px">
<h2>{{group.group}}</h2>
</div>
<div class ="row">
{% for member in group.people %}
{% if member.sister %}
<div class="col-md-5 floatright">
    <div class="profile height250" style="background:#f9f9ff">
    {% else %}
<div class="col-md-3">
    <div class="profile {% if group.group contains 'Alumni' or group.group contains 'Visiting' %} height150 {% else %} height250 {% endif %}" >
{% endif %}
{% if group.group == 'Faculty' or group.group contains 'Researchers' %}

<div><a href="{{member.url}}">
<img class="avatar-img" width=150 src="{% if member.github %}https://avatars2.githubusercontent.com/{{member.github}}?v=3&s=400{% else %} https://avatars2.githubusercontent.com/github?v=3&s=400 {% endif %}"></a>
</div>
{% endif %}
        <div style="margin-bottom:40px"><center><h4>{{member.name}}</h4></center> <center>{% if member.description %} {{member.description}} {% else %} <br> {% endif %} </center> </div> </div></div>
{% endfor %}
</div>
{% endfor %}
</div>
