---
layout: page
title: Rizwan's Group at KAGNLP
permalink: /members/
weight: 1.5
show: 1
---

<div class="floatleft">
{% for group in site.data.members %}
	<div class ="row" style="margin-top=20px">
	<h2>{{group.group}}</h2>
	</div>
	<div class ="row">
{% if group.group contains 'PhD/Postdoc Alumni' %}

<h4> Academy </h4>
<ol>
	{% for member in group.academy %}
<li> 
<a href = "{{member.url}}">{{member.name}}: </a> {% if member.description %} {{member.description}} {% else %} <br> {% endif %} 
	{% endfor %}
</ol>

<h4> Industry </h4>
<ol>
	{% for member in group.industry %}
<li> 
<a href = "{{member.url}}">{{member.name}}: </a> {% if member.description %} {{member.description}} {% else %} <br> {% endif %} 
	{% endfor %}
</ol>


{% elsif group.group contains 'Other Alumni' %}
<ol>
 
	{% for member in group.people %}
<li> 
<a href = "{{member.url}}">{{member.name}}: </a> {% if member.description %} {{member.description}} {% else %} <br> {% endif %} 
	{% endfor %}
</ol>


{% else %}
	{% for member in group.people %}
<div class="col-md-3">
<div class="profile {% if group.group contains 'Alumni' or group.group contains 'Visiting' %} height150 {% else %} height250 {% endif %}" >

{% if group.group == 'Faculty' or group.group contains 'Researchers' %}

<div><a href="{{member.url}}">
<img class="avatar-img" width=150 src="{% if member.github %}https://avatars2.githubusercontent.com/{{member.github}}?v=3&s=400{% else %} https://avatars2.githubusercontent.com/github?v=3&s=400 {% endif %}"></a>
</div>
{% endif %}
<div style="margin-bottom:40px">
<a href = "{{member.url}}">
<center><h4>{{member.name}}</h4></center> </a> <center>{% if member.description %} {{member.description}} {% else %} <br> {% endif %} </center> </div> </div></div>
{% endfor %}

{% endif %}
</div>
{% endfor %}
</div>
