<!-- TODO this file has become a mess, refactor it -->

{% if page.bigimg or page.title %}
{% if page.bigimg %}
  <div id="header-big-imgs" data-num-img={% if page.bigimg.first %}{{ page.bigimg.size }}{% else %}1{% endif %}
    {% for bigimg in page.bigimg %}
	  {% assign imgnum = forloop.index %}
	  {% for imginfo in bigimg %}
	    {% if imginfo[0] %}
		  data-img-src-{{ imgnum }}="{{ imginfo[0] | prepend: site.baseurl | replace: '//', '/' }}"
		  data-img-desc-{{ imgnum }}="{{ imginfo[1] }}"
		{% else %}
		  data-img-src-{{ imgnum }}="{{ imginfo | prepend: site.baseurl | replace: '//', '/' }}"
		{% endif %}
	  {% endfor %}
    {% endfor %}
  ></div>
{% endif %}

<header class="header-section {% if page.bigimg %}has-img{% endif %}">
{% if page.bigimg %}
<div class="big-img intro-header">
  <div class="container">
    <div class="row">
        <div class="center">
        {% if include.type != 'nohead' %}
        <div class="{{ include.type }}-heading">
            {% if page.share %}
        <div class=right>
    {% assign tweet_text =  page.title | append: ' ' | append: 'http://kwchang.net' | append: page.url %} 
    {% assign facebook_text = 'http://kwchang.net' | append: page.url %}  
    Share this page: <a class="twitter-share-button"
                        href="https://twitter.com/intent/tweet?text={{tweet_text}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{facebook_text}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="http://www.linkedin.com/shareArticle?mini=true&url={{facebook_text}}&title={{page.title}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="http://service.weibo.com/share/share.php?title={{page.title}}&url={{facebook_text}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
              </span>
              </a>
        </div>
        {% endif %}
        <center>
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
		  {% if page.subtitle %}
		    {% if include.type == "page" %}
            <!--            <hr class="small"> -->
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
			{% else %}
			<h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
			{% endif %}
		  {% endif %}
          </center>
		  {% if include.type == "post" %}
		  <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
		  {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <span class='img-desc'></span>
</div>
{% endif %}
<div class="intro-header no-img">
  <div class="container">
    <div class="row">
        <div class="center">
            <center>
        <div class="{{ include.type }}-heading">
          <h1>{% if page.title %}{{ page.title }}{% else %}<br/>{% endif %}</h1>
		  {% if page.subtitle %}
		    {% if include.type == "page" %}
            <!--<hr class="small"> -->
            <span class="{{ include.type }}-subheading">{{ page.subtitle }}</span>
			{% else %}
			<h2 class="{{ include.type }}-subheading">{{ page.subtitle }}</h2>
			{% endif %}
		  {% endif %}
            </center>
	{% if page.share %}
        <div class=right>
    {% assign tweet_text =  page.title | append: ' ' | append: 'http://kwchang.net' | append: page.url %} 
    {% assign facebook_text = 'http://kwchang.net' | append: page.url %}  
    Share this page: <a class="twitter-share-button"
                        href="https://twitter.com/intent/tweet?text={{tweet_text}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{facebook_text}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="http://www.linkedin.com/shareArticle?mini=true&url={{facebook_text}}&title={{page.title}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="http://service.weibo.com/share/share.php?title={{page.title}}&url={{facebook_text}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
              </span>
              </a>
        </div>
        {% endif %}

	  
		  {% if include.type == "post" %}
		  <span class="post-meta">Posted on {{ page.date | date: "%B %-d, %Y" }}</span>
		  {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
</header>


{% else %}
<div class="intro-header"></div>
{% endif %}
