---
layout: base
---

{% include header.html type='nohead' %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1">
    <div class=right>
    {% assign tweet_text =  page.entry.title | append: ' ' | append: 'http://kwchang.net' | append: page.url %} 
    {% assign facebook_text = 'http://kwchang.net' | append: page.url %}  
    Share this page: <a class="twitter-share-button2"
                        href="https://twitter.com/intent/tweet?text={{tweet_text}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="https://www.facebook.com/sharer/sharer.php?u={{facebook_text}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="http://www.linkedin.com/shareArticle?mini=true&url={{facebook_text}}&title={{page.entry.title}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span></a>
              <a href="http://service.weibo.com/share/share.php?title={{page.entry.title}}&url={{facebook_text}}">
              <span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-weibo fa-stack-1x fa-inverse"></i>
              </span>
              </a>
    </div>

    <h2>{{ page.entry.title }}</h2>
    <h4>{{ page.reference }}</h4>
    
    {% if page.entry.keynote %}
    <h4><a href="
    {% if page.entry.keynote_url %}
	{{page.entry.keynote_url}}{% else %}#{% endif %}" class="my_keynote">{{page.entry.keynote}}</a></h4>
    {% endif %}

    {% if page.entry.slides_url %}
    <a href="{{page.entry.slides_url | relative_url}}" class="my_details">Slides</a>
    {% endif %}

    {% if page.entry.poster_url %}
    <a href="{{page.entry.poster_url | relative_url}}" class="my_details">Poster</a>
    {% endif %}
       
    {% if page.entry.code_url %}
    <a href="{{page.entry.code_url}}" class="my_code">Code</a>
    {% endif %}
 
    {% if page.entry.demo_url %}
    <a href="{{page.entry.demo_url}}" class="my_code">Demo</a>
    {% endif %}
 


    {% if page.entry.paper_url %}
    <h4>
  <a href="{{page.entry.paper_url}}">
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle fa-stack-2x"></i>
    <i class="fa fa-file-pdf-o fa-stack-1x fa-inverse"></i>
  </span>Download the full text</a></h4>

    <div class=paper-img>


    {% if page.links.png %}
       <img class='center-image' src="{{ page.links.png}}" >
    {% endif %}
<!--    {% assign img_url =  page.entry.key | append: '.png' %}  
    {% for static_file in site.static_files %}
        {% if static_file.path contains img_url %}
            <img class='center-image' src="{{site.baseurl}}/documents/img/{{img_url}}" >
        {% endif %}
        {% endfor %}-->
    </div>


    <hr>
    {% endif %}
    <h4> Abstract </h4>
    <p>{{ page.entry.abstract }}</p>

    {% if page.entry.tweet %}
    {% twitter {{page.entry.tweet}} maxwidth=800 %}

  <hr>
    {% endif %}

    {% if page.entry.youtube_id %}
       <iframe width="560" height="315" src="https://www.youtube.com/embed/{{page.entry.youtube_id}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <hr>
    {% endif %}

    {% if page.entry.vimeo_id %}
       <iframe width="560" height="315" src="https://player.vimeo.com/video/{{page.entry.vimeo_id}}?byline=0&portrait=0" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
    <hr>
    {% endif %}


    <ul>
    {% if page.entry.slides_url %}
    <li><a href="{{page.entry.slides_url}}">Slides</a></li>
    {% endif %}

    {% if page.entry.poster_url %}
    <li><a href="{{page.entry.poster_url}}">Poster</a></li>
   {% endif %}
    
    {% if page.entry.video_url %}
    <li><a href="{{page.entry.video_url}}">Video</a></li>
    {% endif %}
 
    {% if page.entry.youtube_id %}
    <li><a href="https://www.youtube.com/watch?v={{page.entry.youtube_id}}">Video</a></li>
    {% endif %}
    
    {% if page.entry.vimeo_id %}
    <li><a href="https://vimeo.com/{{page.entry.vimeo_id}}">Video</a></li>
    {% endif %}

    {% if page.entry.slideslive_id %}
        <div id="presentation-embed-{{page.entry.slideslive_id}}" class="container container-sm"></div>
        <script src='https://slideslive.com/embed_presentation.js'></script>
        <script>
             embed = new SlidesLiveEmbed('presentation-embed-{{page.entry.slideslive_id}}', {
             presentationId: '{{page.entry.slideslive_id}}',
             autoPlay: false, // change to true to autoplay the embedded presentation
             verticalEnabled: true
             });
        </script>
    {% endif %}


 

    {% if page.entry.code_url %}
    <li><a href="{{page.entry.code_url}}">Source Code</a></li>
    {% endif %}
    </ul>

  {% if page.entry.comment %}
     <hr>
    <div markdown="1">
    {{page.entry.comment}}
    </div>
   {% endif %}
   <hr>
   <h4> Bib Entry</h4>
   <pre class="pre">{{page.entry.bibtex}}</pre>
   <hr>

   <h4> Related Publications</h4>
   {% bibliography  -q @*[keyword= {{page.entry.keyword}}]* %}
  </div>
</div>

