---
---
{% if entry.paper_url %}
<h4> <a href="{{site.baseurl}}/bibliography/{{key}}"> {{entry.title}} </a></h4>
{% else %}
<h4> <a class="nopdf" href="{{site.baseurl}}/bibliography/{{key}}"> {{entry.title}} </a></h4>
{% endif %}
{{reference}}
<br/>
<!-- {% case {{entry.type}} %}
{% when 'article' %}
<span class="label label-success">Journal</span>
{% when 'conference' %}
<span class="label label-danger">Conference</span>
{% when 'phdthesis' %}
<span class="label label-warning">Ph. D. dissertation</span>
{% when 'masterthesis' %}
<span class="label label-warning">Master thesis</span>
{% else %}
else
{% endcase %} -->


    {% if entry.paper_url %}
    <a href="{{entry.paper_url}}" class="my_details">Full Text</a>
    {% endif %}

    {% if entry.slides_url %}
    <a href="{{entry.slides_url | relative_url}}" class="my_details">Slides</a>
    {% endif %}

    {% if entry.poster_url %}
    <a href="{{entry.poster_url | relative_url}}" class="my_details">Poster</a>
    {% endif %}
    
    {% if entry.video_url %}
    <a href="{{entry.video_url}}" class="my_details">Video</a>
    {% endif %}
    
    {% if entry.youtube_id %}
    <a href="https://www.youtube.com/watch?v={{entry.youtube_id}}" class="my_details">Video</a>
    {% endif %}
    
    {% if entry.vimeo_id %}
    <a href="https://vimeo.com/{{entry.vimeo_id}}" class="my_details">Video</a>
    {% endif %}
    
    {% if entry.code_url %}
    <a href="{{entry.code_url}}" class="my_code">Code</a>
    {% endif %}
 
    {% if entry.demo_url %}
    <a href="{{entry.demo_url}}" class="my_code">Demo</a>
    {% endif %}
   
    {% if entry.abstract %}
    <a data-toggle="collapse"   href="#{{key}}-abstract" class="my_details">Abstract</a>
    {% endif %}

<a data-toggle="collapse" href="#{{key}}-bibtex" class="my_details">BibTeX</a>

<a href="{{site.baseurl}}/bibliography/{{key}}/" class="my_details">Details</a>
 

    {% if entry.keynote %}
    <a href="{% if entry.keynote_url %}{{entry.keynote_url}}{% else %}#{% endif %}" class="my_keynote">{{entry.keynote}}</a>
    {% endif %}



<div id="{{key}}-materials">
  {% if entry.abstract %}
  <pre id="{{key}}-abstract" class="pre collapse">{{entry.abstract}}</pre>
  {% endif %}

  <pre id="{{key}}-bibtex" class="pre pre-scrollable collapse">{{entry.bibtex}}</pre> 
</div>

